.mypage-header{
    display: flex;
    margin-left:10px;
    margin-right:10px;
    height:50px;
}

.mypage-header .main-img img{
    height:30px;
}

.profile{
    background-color: rgba(255, 225, 117, 0.75);
}

button{
    padding:10px;
    border:none;
    width:100%;
    text-align:left;
}

.mypost button{
    background-color: #fffbf4;
}

.like-post button{
    background-color: #ffeebe;
}