.mypage-header{
    display: flex;
    margin-left:10px;
    margin-right:10px;
    height:50px;
}

.mypage-header .prev-arrow-icon{
    margin-top:13px;
}

.mypage-header .main-img img{
    margin-top:8px;
    margin-left:100px;
    margin-right:20px;
    height:30px;
}


.profile{
    background-color: rgba(255, 225, 117, 0.75);
    padding:15px;
    height:130px;
}

.profile .profile-img img{
    border-radius:50%;
    height:80px;
    margin-left:20px;
    margin-top:10px;
}
.profile .profile-right{
    display:flex;
    flex-direction: column;
    margin-top:-70px;
    text-align:left;
    margin-left:120px;
}

.mypost button,
.like-post button{
    padding:10px;
    border:none;
    width:100%;
    text-align:left;
}

.mypost button{
    background-color: #fffbf4;
    padding:10px;
}

.like-post button{
    background-color: #ffeebe;
    padding:10px;
}

/*데스크 화면 CSS*/
@media screen and (min-width: 768px) {
 .mypage-header .header-text{
     text-align:center;
 }
    .profile{
        background-color: rgba(255, 225, 117, 0.75);
        padding:30px;
        height:200px;
    }
    .profile .profile-img img{
        width:150px;
        height:150px;
        margin-left:200px;
    }

    .profile .profile-setting{
        margin-left:200px;
        margin-bottom:10px;
    }

    .profile .profile-right{
        margin-left:400px;
    }
}