/*font*/
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Indie+Flower&family=Poor+Story&family=Roboto:wght@100;300;400&display=swap');

/*font-family*/
/*font-family: 'Gowun Dodum', sans-serif;*/
/*font-family: 'Indie Flower', cursive;*/
/*font-family: 'Poor Story', cursive;*/
/*font-family: 'Roboto', sans-serif;*/

:root{
    /*Color*/
    --main-color : #FFE175;
    --back-light-color : #fae9a9;
    --back-max-light-color : rgba(255, 184, 0, 0.39);
    --grey-dark-color:#909090;
    --grey-light-color: #efefef;


    /*Size*/
    --padding : 12px;


    /*font-Name*/
    --font-gowun : 'Gowun Dodum', sans-serif;
    --font-flower : 'Indie Flower', cursive;
    --font-story : 'Poor Story', cursive;
    --font-roboto : 'Roboto', sans-serif;

    /*font-Size*/
    --font-large : 20px;
    --font-medium : 14px;
    --font-small : 12px;
    --font-micro : 10px;

}

body,
input{
    font-family:var(--font-story);
    font-size: var(--font-medium);
}



/*header*/
header {
    display: flex;
    margin-top:15px;
    height:35px;
    border-bottom:2px solid var(--grey-light-color);
}

header .title {
    font-family:var(--font-flower);
    font-size: var(--font-large);
    margin-right:20px;
    margin-left : 30px;
}

header .header-write-button{
    display:none;
}

header .search .search-icon {
    position:absolute;
    left:270px;
    margin-top:-20px;
}

header .search input{
    position:relative;
    background-color:#FFE175;
    width:200px;
    height : 22px;
    margin-top:5px;
    border:none;
    border-radius:20px;
    margin-right:20px;
}
header .search input::placeholder{
    color:white;
}
header .search input:focus{
    outline:none;
}


header .my-page img{
    height:35px;
    margin-top: -7px;
}

.banner-desk-img{
    display:none;
}

.banner-img{
    background-color: #e7e7e7;
    border-radius: 20px;
    width:90%;
    padding:3px;
    margin:15px 20px 10px 20px;
    height:120px;
}

.banner-img img{
    width:100%;
    border-radius:20px;
    height:120px;
}


/*nav-bar Style*/
nav ul{
    display: flex;
}

nav ul li {
    margin-right:20px;
    list-style: none;
}

nav .nav-text{
    display: flex;
    justify-content:space-around;
    margin-right:10px;
    margin-left:4px;
    margin-top:-10px;
    flex-basis:auto;
    /*font-size: 13px;*/
}

nav .nav-img {
    display: flex;
    justify-content:space-around;
    margin-left:5px;
    margin-right:25px;
}

/*nav icon 배경*/
/*nav .nav-icon{*/
/*    height:50px;*/
/*    width:50px;*/
/*    background-color: #fff9f0;*/
/*    border-radius:20px;*/
/*}*/


/*ChiceAddress Style*/
.middle-line{
    display: none;
}

.mobile-choice-address .choiceAddress {
    height:15px;
    display: flex;
    margin-left:20px;
    margin-right:20px;
    border : 2px solid var(--main-color);
    border-radius:20px;
    padding:5px;
}

.choiceAddress .addressDetail,
.choiceAddress .logo{
    margin-left : 14px;
}

.choiceAddress .setting{
    display: flex;
    margin-left:170px;
}

.choiceAddress .setting .settingIcon{
    margin-right:10px;
}
.choiceAddress .setting .settingTitle{
    font-size: var(--font-small);
}


/*latest-Post Style*/
.desk-latest-post{
    display:none;
}

.latest-post .title,
.latest-post .post-nav{
    margin-top:20px;
    margin-left:30px;
}

.latest-post .post-nav{
    display: flex;
    margin-left:280px;
    margin-top:-20px;
}

.latest-post .post-nav .post-nav-text select{
    width:60px;
    margin-left:20px;
    border : 1.5px solid var(--main-color);
    padding:2px;
}


.latest-post .post-list ul{
    /*flex-direction: row;*/
    display:grid;
    grid-template-areas: ' myArea . ';
    font-size:var(--font-small);
    list-style:none;
    margin-left:-10px;

}

.latest-post .post-list ul li .title{
    margin-left:0;
}

.latest-post .post-list ul li .userNickname{
    margin-left:65px;
}


.latest-post .post-list ul li .post-img{
    width:150px;
    height:100px;
    border-radius:5px;
}

.post-list .first-list{
    margin-bottom:20px;
}

.latest-post .post-list ul li .post-f-high-img {
    width:150px;
    height:150px;
    border-radius:5px;
}


.latest-post .post-list ul li .post-s-high-img {
    width:150px;
    height:150px;
    border-radius:5px;
    margin-top:-50px;
}


.latest-post .addPost{
    text-align:center;
    margin-right:30px;
    margin-left:30px;
}

.latest-post .addPost button{
    width:100%;
    background-color: #efefef;
    border:none;
    height:25px;
    border-radius:10px;
    text-align:center;
    padding:5px;
}

.latest-post .addPost a{
    text-decoration:none;
    color: #3b3b3b;
}

/*Footer */
.footer-top{
    display:flex;
    margin-left:20px;
    margin-top:30px;

}
.footer-top .footer-logo img{
    width:30px;
}
.footer-top .footer-title{
    font-family: 'Indie Flower', cursive;
    font-size:25px;
    margin-left:10px;
}

.footer-bottom {
    margin-left:20px;
    margin-top:10px;
}

.footer-bottom .footer-info div{
    font-size:14px;
    margin-bottom:5px;
}

.footer-bottom .footer-copyright{
    margin-top:15px;
}


@media screen and (min-width: 768px){
    /*header*/
    header{
        display:flex;
        width:100%;
        justify-content: center;
        height:50px;
        border:none;
        margin-top:20px;
    }

    header .title{
        font-size:35px;
    }

    header .search .search-icon{
        display:none;
    }

    header .header-write-button {
        display:inline-block;
        margin-top:4px;
    }
    header .header-write-button button{
        background-color: rgba(255, 225, 117, 0.7);
        border-radius:20px;
        border:none;
        padding:10px;
        width: 70px;
        height:35px;
    }

    header .search input{
        position:relative;
        background-color:white;
        width:500px;
        height : 35px;
        margin-top:5px;
        border:1px solid #FFE175;
        border-radius:20px;
        margin-right:20px;
        padding:10px;
    }
    header .search input::placeholder{
        color:#3b3b3b;
    }

    header .my-page img{
        height:35px;
        margin-top:1px;
        margin-left:15px;
    }

    /*nav*/
    nav .nav-img,
    nav .nav-text{
        display:flex;
        justify-content:center;
    }

    nav .nav-img li,
    nav .nav-text li{
        margin-right:50px;

    }

    /*banner*/
    .banner-img{
        display:none;
    }

    .banner-desk-img{
        display:inline-block;
        background-color: rgba(255, 225, 117, 0.7);
        height:200px;
        width:100%;
        padding:10px;
    }
    .banner-desk-img img{
        width:1024px;
        height:200px;
        display:flex;
        justify-content:center;
        object-fit:none;
        border-radius:10px;
        margin: 0 auto;
    }

    /*middle line*/
    .mobile-choice-address .choiceAddress{
        display:none;
    }
    .middle-line {
        display:flex;
        justify-content:space-around;
        width:1024px;
        margin: 0 auto;
    }

    .middle-line section{
        margin-top:10px;
        width:250px;
        font-size: 16px;
    }

    /*지역선택*/
    .middle-line .choiceAddress .address-title{
        height:15px;
        display: flex;
        border : 2px solid var(--main-color);
        border-radius:20px;
        padding:5px;
        width:250px;
    }

    .middle-line .choiceAddress{
        display:flex;
        flex-direction: column;
    }

    .middle-line .choiceAddress .address-title{
        padding:5px;
    }

    .middle-line .choiceAddress .address-title .setting{
        display: flex;
        margin-left:80px;
    }

    .middle-line .choiceAddress .address-title .setting .settingIcon{
        margin-right:10px;
    }
    .middle-line .choiceAddress .address-title .setting .settingTitle{
        font-size: 13px;
    }
    .middle-line .choiceAddress .map-img img{
        margin-top:10px;
        height:220px;
        width:265px;
        border-radius:10px;
    }

    /*인기게시물*/
    .middle-line .hot-post-section .hot-posts{
        border:2px dotted #FFE175;
        border-radius:10px;
        margin-top:10px;
        padding:10px;
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        flex-wrap:wrap;
        align-content: stretch;
    }

    .middle-line .hot-post-section .hot-posts .simple-hot-post img{
        height:80px;
        width: 100px;
        border-radius:10px;
    }

    /*오늘의 레시피*/
    .middle-line .today-recipe-section .today-recipes{
        display:flex;
        flex-direction: row;
        font-size:13px;
        border:2px dotted #FFE175;
        padding:10px;
        width:100%;
        margin-top:10px;
    }

    .middle-line .today-recipe-section .today-recipes .recipe-img .recipe-title{
        font-size:15px;
        font-weight:bold;
        margin-left:100px;
        margin-top:10px;
    }

    .middle-line .today-recipe-section .today-recipes .recipe-img img{
        height:170px;
        border-radius:10px;
        margin-top:10px;
    }

    .middle-line .today-recipe-section .today-recipes .recipe-detail{
        margin-left:-120px;
        margin-top:20px;
    }

    /*latest-post*/
    .latest-post{
        display:none;
    }

    .desk-latest-post{
        display:block;
        margin-top:20px;
    }

    .desk-latest-post h4{
        padding: 0;
        margin:0;
        text-align:left;
        width: 1024px;
    }


    .desk-latest-post .desk-latest-title{
        display:flex;
        justify-content:space-around;
        font-size:16px;
        margin-bottom:10px;
    }

    .desk-recent-posts .desk-latest-contents,
    .desk-latest-post .desk-latest-contents{
        display:flex;
        width:1024px;
        justify-content:space-around;
        margin:0 auto;
        flex-wrap:wrap;
        align-content: stretch;
        border-radius:10px;
    }
    .desk-recent-posts .desk-latest-contents .desk-latest-content img,
    .desk-latest-post .desk-latest-contents .desk-latest-content img{
        height:150px;
        width:160px;
        border-radius:10px;
        margin-top:20px;
        margin-right:10px;
        margin-left:10px;
    }

    .desk-recent-posts .desk-latest-contents .desk-latest-content div,
    .desk-latest-post .desk-latest-contents .desk-latest-content div {
        margin-left:10px;

    }

    /*게시판*/
    .postContent{
        display:none;
    }
    .postpage{
        display:none;
    }

    /*카테고리 선택시 뜨는 메인화면*/
    .DeskPost h4{
        padding: 0;
        margin:0;
        text-align:left;
        width: 1024px;
    }
    .DeskPost .desk-hot-post .desk-hot-title {
        display:flex;
        justify-content:space-around;
        font-size:16px;
        margin-bottom:10px;
    }


    .DeskPost .desk-hot-post .desk-latest-contents{
        display:flex;
        width:1024px;
        justify-content:space-around;
        margin:0 auto;
        flex-wrap:wrap;
        align-content: stretch;
        border-radius:10px;
    }

    .DeskPost .desk-hot-post .desk-latest-contents .desk-latest-content img{
        height:150px;
        width:170px;
        border-radius:10px;
        margin-top:20px;
        margin-right:10px;
        margin-left:10px;
    }

    .DeskPost .desk-hot-post .desk-latest-contents .desk-latest-content div {
        margin-left:10px;

    }


    .DeskPost .desk-category{
        width:100%;
        background-color: rgba(255, 225, 117, 0.7);
        height:100px;
        padding:20px;
        margin-top:20px;
    }

    .DeskPost .desk-category .desk-category-title{
        display:flex;
        justify-content:space-around;
        font-size:16px;
        margin-bottom:10px;
        margin-left:-15px;
    }

    .DeskPost .desk-category .desk-category-icon,
    .DeskPost .desk-category .desk-category-icon-name {
        display:flex;
        flex-direction: row;
        width:1024px;
        justify-content:space-around;
        margin:0 auto;
    }


    .DeskPost .desk-recent-posts .desk-recent-title{
        display:flex;
        justify-content:space-around;
        font-size:16px;
        margin-bottom:10px;
        margin-top:10px;
    }


    /*Footer */
    footer{
        justify-content:space-around;
        width:1024px;
        margin:0 auto;
    }

    .footer-top{
        display:flex;
        /*margin-left:24%;*/
        margin-top:30px;
        color: #606060;
    }
    .footer-top .footer-logo img{
        width:40px;
    }
    .footer-top .footer-title{
        font-family: 'Indie Flower', cursive;
        font-size:35px;
        margin-left:10px;
    }

    .footer-bottom {
        margin-top:10px;
        margin-bottom:30px;
        display:flex;
        color: #606060;
    }

    .footer-bottom .footer-info div{
        font-size:17px;
        margin-bottom:5px;
    }

    .footer-bottom .footer-copyright{
        margin-top:55px;
        margin-left:520px;
    }


}