/*font*/
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Indie+Flower&family=Poor+Story&family=Roboto:wght@100;300;400&display=swap');

/*font-family*/
/*font-family: 'Gowun Dodum', sans-serif;*/
/*font-family: 'Indie Flower', cursive;*/
/*font-family: 'Poor Story', cursive;*/
/*font-family: 'Roboto', sans-serif;*/

:root{
    /*Color*/
    --main-color : #FFE175;
    --back-light-color : #fae9a9;
    --back-max-light-color : rgba(255, 184, 0, 0.39);
    --grey-dark-color:#909090;
    --grey-light-color:#e0e0e0;


    /*Size*/
    --padding : 12px;


    /*font-Name*/
    --font-gowun : 'Gowun Dodum', sans-serif;
    --font-flower : 'Indie Flower', cursive;
    --font-story : 'Poor Story', cursive;
    --font-roboto : 'Roboto', sans-serif;

    /*font-Size*/
    --font-large : 20px;
    --font-medium : 14px;
    --font-small : 12px;
    --font-micro : 10px;

}

body,
input{
    font-family:var(--font-story);
    font-size: var(--font-medium);
}



/*header*/
header {
    display: flex;
    margin-top:15px;
    height:35px;
    border-bottom:2px solid var(--grey-light-color);
}

header .title {
    font-family:var(--font-flower);
    font-size: var(--font-large);
    margin-right:20px;
    margin-left : 30px;
}

header .search .search-icon {
    position:absolute;
    left:270px;
    margin-top:-20px;
}

header .search input{
    position:relative;
    background-color:#FFE175;
    width:200px;
    height : 22px;
    margin-top:5px;
    border:none;
    border-radius:20px;
    margin-right:20px;
}
header .search input::placeholder{
    color:white;
}
header .search input:focus{
    outline:none;
}


header .my-page img{
    height:35px;
    margin-top: -7px;
}


/*nav-bar Style*/
nav ul{
    display: flex;
}

nav ul li {
    margin-right:20px;
    list-style: none;
}

nav .nav-text{
    display: flex;
    justify-content:space-around;
    margin-right:10px;
    margin-left:4px;
    margin-top:-10px;
    flex-basis:auto;
    /*font-size: 13px;*/
}

nav .nav-img {
    display: flex;
    justify-content:space-around;
    margin-left:5px;
    margin-right:25px;
}

/*nav icon 배경*/
/*nav .nav-icon{*/
/*    height:50px;*/
/*    width:50px;*/
/*    background-color: #fff9f0;*/
/*    border-radius:20px;*/
/*}*/


/*ChiceAddress Style*/
.choiceAddress {
    height:15px;
    display: flex;
    margin-left:20px;
    margin-right:20px;
    border : 2px solid var(--main-color);
    border-radius:20px;
    padding:5px;
}

.choiceAddress .addressDetail,
.choiceAddress .logo{
    margin-left : 14px;
}

.choiceAddress .setting{
    display: flex;
    margin-left:170px;
}

.choiceAddress .setting .settingIcon{
    margin-right:10px;
}
.choiceAddress .setting .settingTitle{
    font-size: var(--font-small);
}


/*latest-Post Style*/
.latest-post .title,
.latest-post .post-nav{
    margin-top:20px;
    margin-left:30px;
}

.latest-post .post-nav{
    display: flex;
    margin-left:280px;
    margin-top:-20px;
}

.latest-post .post-nav .post-nav-text select{
    width:60px;
    margin-left:20px;
    border : 1.5px solid var(--main-color);
    padding:2px;
}


.latest-post .post-list ul{
    /*flex-direction: row;*/
    display:grid;
    grid-template-areas: ' myArea . ';
    font-size:var(--font-small);
    list-style:none;

}

.latest-post .post-list ul li .title{
    margin-left:0;
}

.latest-post .post-list ul li .userNickname{
    margin-left:65px;
}


.latest-post .post-list ul li .post-img{
    width:150px;
    height:100px;
    border-radius:5px;
}


.latest-post .addPost{
    text-align:center;
    margin-right:30px;
    margin-left:30px;
}

.latest-post .addPost button{
    width:100%;
    background-color:var(--grey-light-color);
    border:none;
    height:25px;
    border-radius:10px;
}

.latest-post .addPost a{
    text-decoration:none;
    color: #3b3b3b;
}